#gifts{
    padding: 50px 0px;
}
#gifts .container h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #282525;
    text-align: center;
    margin-bottom: 40px;
}
.body.dark #gifts .container h2{
    color: #F3F2F2;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    padding: 25px;
    position: relative;
    width: 230px;
    height: 268px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 3px #301D1E1A;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.body.dark .card{
    background-color: #2F2223;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #282525;
    margin-top: -15px;
}
.body.dark .card h3{
    color: #F3F2F2;
}
.card p{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #5D5656;
}
.body.dark .card p{
    color: #C2BDBD;
}
.card .heart{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}
.card .heart .fa-heart{
    color: #DC3845;
}
.mobile{
    display: none;
}
@media(max-width:400px){
    .cards{
        row-gap: 30px;
        justify-content: center;
    }
    .card{
        padding: 15px;
    }
    .card .heart{
        top: 15px;
        right: 15px;
    }
    .card h3{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-top: -25px;
    }
    .card p{
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        margin-top: 10px;
    }
}