.hero {
  padding: 50px 0px;
}
.hero .container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.heroInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}
.heroInfo h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: #282525;
}
.body.dark .heroInfo h1 {
  color: #f3f2f2;
}
.heroInfo p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #5d5656;
}
.body.dark .heroInfo p {
  color: #c2bdbd;
}
.heroInfo button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  background-color: #dc3845;
  border: none;
  padding: 20px 56px;
  border-radius: 64px;
  cursor: pointer;
}
.mobileHeroImg {
  display: none;
}
@media (max-width: 400px) {
  .hero {
    padding-top: 106px;
  }
  .hero .container {
    flex-direction: column;
    row-gap: 30px;
  }
  .heroInfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroInfo h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
  }
  .heroInfo p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  .heroInfo button {
    padding: 20px 48px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
  }
  .mainHeroImg {
    display: none;
  }
  .mobileHeroImg {
    display: block;
  }
}