nav {
  padding: 24px 0px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #cecbcc9c;
}
.menuBar{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 56px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #5d565638;
  border-top: 1px solid #5d565654;
  border-radius: 0px 0px 32px 32px;
  padding: 30px;
  z-index: 100;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .2s ease;
}
.exitMenu,
.toys {
  position: absolute;
}
.exitMenu {
  right: 8px;
  top: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}
.toys {
  left: 0;
  top: 0;
}
.menuBar.active{
  transform: scaleY(1);
}
.body.dark .menuBar{
  background-color: #251819;
}
.menuLinks{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.menuLinks a{
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #282525;
}
.menuLinks a.active{
  color: #DC3845;
}
.body.dark .menuLinks a.active{
  color: #DC3845;
}
.body.dark .menuLinks a{
  color: #F3F2F2;
}
.body.dark nav {
  background-color: #251819;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.logo span {
  color: #282525;
}
.body.dark .logo span {
  color: #f3f2f2;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.links a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #282525;
  position: relative;
  padding: 0px 10px;
}
.links a.active::after{
  width: 100%;
}
.links a::after{
  position: absolute;
  content: "";
  background-color: #DC3845;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  border-radius: 4px;
}
.links a:hover::after{
  width: 100%;
  transition: all .3s ease;
}
.links a.active{
  color: #DC3845;
}
.body.dark .links a {
  color: #f3f2f2;
}
.body.dark .links a.active{
  color: #DC3845;
}
.links button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menubtn{
  display: none;
}
.menuBar{
  display: none;
}
@media(max-width: 400px){
  nav {
    padding: 16px 0px;
  }
  .links {
    gap: 23px;
  }
  .links li {
    display: none;
  }
  .menubtn{
    display: block;
  }
  .menuBar{
    display: block;
  }
}