footer{
    padding: 50px 0px;
    position: relative;
}
footer .container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: relative;
}
.footer{
    display: flex;
    justify-content: space-between;
}
footer .footerLinks{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
}
.footerLinks p{
    width: 65%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #5D5656;
}
.body.dark .footerLinks p{
    color: #C2BDBD;
}
.footerLinks h4{
    color: #282525;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.body.dark .footerLinks h4{
    color: #F3F2F2;
}
.footerLinks a{
    color: #5D5656;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.body.dark .footerLinks a{
    color: #C2BDBD;
}
.footerLinks button{
    padding: 10px 0px;
    width: 120px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.hash{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #918889;
}
.greenToy, .orangeToy{
    position: absolute;
}
.greenToy{
    left: 0;
    bottom: -30px;
}
.orangeToy{
    right: -100px;
    bottom: -40px;
}
.greenMobile, .orangeMobile{
    display: none;
}
@media(max-width: 400px){
    footer .container .footer{
        flex-direction: column;
        row-gap: 30px;
    }
    .greenToy, .orangeToy{
        display: none;
    }
    .greenMobile, .orangeMobile{
        display: block;
        width: 100px;
    }
    .orangeMobile{
        position: absolute;
        right: 0;
        width: 50px;
        top: 500px;
    }
    .greenMobile{
        position: absolute;
        right: 0;
        top: 100px;
    }
}