.body.dark{
  background-color: #251819;
  transition: all .2s ease;
}
nav{
  padding: 24px 0px;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 11;
}
nav hr{
  position: absolute;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #C2BDBD;
  bottom: 0px;
}
.body.dark nav{
  background-color: #251819;
}
nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.logo span{
  color: #282525;
}
.body.dark .logo span{
  color: #F3F2F2;
}
.links{
  display: flex;
  align-items: center;
  gap: 50px;
}
.links a{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #282525;
}
.body.dark .links a{
  color: #F3F2F2;
}
.links button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobileMenu{
  display: none;
}
.hero{
  padding-top: 156px;
  padding-bottom: 50px;
}
.hero .container{
  display: flex;
  align-items: center;
  gap: 30px;
}
.heroInfo{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}
.heroInfo h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: #282525;
}
.body.dark .heroInfo h1{
  color: #F3F2F2;
}
.heroInfo p{
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #5D5656;
}
.body.dark .heroInfo p{
  color: #C2BDBD;
}
.heroInfo button{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #DC3845;
  border: none;
  padding: 20px 56px;
  border-radius: 64px;
  cursor: pointer;
}
.mobileHeroImg{
  display: none;
}
.menu{
  position: fixed;
  top: 56px;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 0px 0px 30px 30px;
  z-index: 10;
  transform: scaleY(0);
  padding: 50px 0px;
  transition: all .2s ease;
  transform-origin: top;
  border-bottom: 1px solid #C2BDBD;
}
.menu.active{
  transform: scaleY(1);
}
.body.dark .menu{
  background-color: #251819;
}
.exitMenu, .toys{
  position: absolute;
}
.exitMenu{
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}
.exitImgMobile{
  display: none;
}
.body.dark .exitImgMobile{
  display: block;
}
.body.dark .exitImg{
  display: none;
}
.toys{
  left: 0;
  top: 0;
}
.menu .container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu .menuLinks{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.menuLinks a{
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #000000;
}
.body.dark .menu a{
  color: #FFFFFF;
}
@media(max-width: 400px){
  nav{
    padding: 16px 0px;
  }
  .links{
    gap: 23px;
  }
  .links li{
    display: none;
  }
  .mobileMenu{
    display: block;
  }
  .hero{
    padding-top: 106px;
  }
  .hero .container{
    flex-direction: column;
    row-gap: 30px;
  }
  .heroInfo{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroInfo h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
  }
  .heroInfo p{
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  .heroInfo button{
    padding: 20px 48px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
  }
  .mainHeroImg{
    display: none;
  }
  .mobileHeroImg{
    display: block;
  }
  .box:nth-child(1), .box:nth-child(3){
    display: none;
  }
}